{{!-- Home Page Template --}}
<main id="app">
    {{> home/hero}}
    {{> home/how-it-works}}
    {{> home/services}}
    {{> home/stats}}
    {{> home/success-stories}}
    {{> home/why-germany}}
    {{> home/cta}}
</main>
